@media (min-width: 1400px) {
    /* Banner */

    .banner .subtitle:after{
        top: 125px;
        right: 165px;
        bottom: -150px;
    }

    .price{
        right: 55px;
        bottom: -150px;
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    /* Banner */

    .banner .subtitle:after{
        right: 75px;
        top: 125px;
    }

    .price{
        right: -35px;
        bottom: -150px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {

    .nav-btn span{
        display: none;
    }

}

@media (min-width: 1024px) {

    /* Navigation */

    .navbar-toggler{
        display: none;
    }

    /* Banner */

    .box{
        width: 512px;
        margin: 0 auto;
    }

    .home.banner .container:after{
        content: "";
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        background-image: url('img/planet.svg');
        width: 567px;
        height: 235px;
        transform: translateX(-283px);
        z-index: 0;
    }

}

@media (max-width: 1200px) {

    .banner .subtitle{
        padding-bottom: 3rem;
    }
    
    .banner .subtitle:after{
        display: none;
    }

    .banner .price{
        position: inherit !important;
        transform: inherit !important;
    }

}

@media (max-width: 1024px) {

    h1{
        font-size: 48px;
    }

    /* Navigation */

    #offcanvasNavbar{
        display: block;
        padding: 30px;
        border: none;
    }

    .offcanvas-header{
        padding: 0;
        margin-bottom: 50px;
    }

    .navbar-mobile ul{
        flex-direction: column;
    }

    .navbar, .nav-btn{
        display: none;
    }

    /* Banner */
    
    .pictos{
        display: none;
    }

}

@media (max-width: 768px) {

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 38px;
    }

    .subtitle{
        font-size: 18px;
    }

    .box{
        flex-direction: column;
    }

    #offcanvasNavbar{
        width: 100%;
    }

    .application .row{
        gap: 50px;
    }

    .missions{
        padding-bottom: 10px;
    }

    /* Footer */

    footer nav ul{
        display: inherit;
        text-align: center;
    }

}